* {
    margin: 0;
    padding: 0;
}

.sidebar {
    z-index: 6666;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    ul {
        height: 200px;
        position: relative;
        top: 50%;
        left: 0;
        margin-top: -100px;
        li {
            position: relative;
            width: 40px;
            height: 50px;
            cursor: pointer;
            .iconfont {
                font-size: 25px;
            }
            b {
                padding-top: 15px;
                width: 40px;
                height: 35px;
                font-size: 12px;
                color: white;
                background-color: #BB3433;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
            .erWeiMa {
                position: absolute;
                top: -50px;
                left: -210px;
                display: none;
            }
            &:hover b {
                display: block;
            }
            &:hover .erWeiMa {
                display: block;
            }
        }
    }
}