    * {
        margin: 0;
        padding: 0;
    }
    
    $font-grey:#6B6B6B;
    $font-size13:13px;
    $font-weight:bold;
    $bg-grey:#BFBEBE;
    $bg-grey2:#E6E6E6;
    $font-blue :#4E8FC2;
    .lifeapp {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        height: auto;
        margin-top: 10px;
        color: $font-grey;
        font-size: $font-size13;
        .sort {
            margin-top: 0px;
            height: 50px;
            border-top: 1px solid $bg-grey2;
            background: linear-gradient( $bg-grey2, 15%, #ffffff);
            ul {
                display: flex;
                li {
                    margin-left: 10px;
                    line-height: 50px;
                    span {
                        float: right;
                        font-size: 13px;
                    }
                }
            }
        }
        .products {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .goods {
                width: 218px;
                height: 330px;
                margin-right: 4%;
                border: 1px solid $bg-grey2;
                margin-bottom: 20px;
                .big {
                    width: 218px;
                    height: 218px;
                    border: none;
                }
                .little {
                    width: 35px;
                    height: 35px;
                    border: 2px solid #B1544F;
                    margin-left: 20px;
                    margin-top: 20px;
                }
                p {
                    padding: 5px;
                    color: red;
                }
            }
        }
    }
    
    .name {
        width: 85%;
        margin-left: 7.5%;
        margin-top: 40px;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid $bg-grey;
        color: $font-grey;
        font-size: $font-size13;
        span {
            font-weight: $font-weight;
            float: left;
        }
        a {
            float: right;
            text-decoration: none;
            color: $font-blue;
        }
    }
    
    .bedchose {
        width: 70%;
        margin-left: 15%;
        div {
            height: 25px;
            border-bottom: 1px solid $bg-grey2;
            ul {
                display: flex;
                li {
                    margin-left: 10px;
                    color: $font-grey;
                    line-height: 25px;
                    font-size: $font-size13;
                }
            }
        }
    }