    * {
        margin: 0;
        padding: 0;
    }
    
    $font-grey:#6B6B6B;
    $font-size13:13px;
    $font-weight:bold;
    $bg-grey:#BFBEBE;
    $bg-grey2:#E6E6E6;
    $font-blue :#4E8FC2;
    .lifeapp {
        width: 90%;
        margin-left: 5%;
        margin-right: 15%;
        height: auto;
        margin-top: 10px;
        color: $font-grey;
        font-size: $font-size13;
        .sort {
            margin-top: 0px;
            height: 50px;
            border-top: 1px solid $bg-grey2;
            background: linear-gradient( $bg-grey2, 15%, #ffffff);
            ul {
                display: flex;
                li {
                    margin-left: 10px;
                    line-height: 50px;
                    span {
                        float: right;
                        font-size: 13px;
                    }
                    a {
                        color: #6B6B6B;
                    }
                }
                li:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .products {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            text-align: center;
            padding-left: 30px;
            width: 90%;
            .goods {
                width: 218px;
                // height: 330px;
                margin: 0 5px;
                border: 1px solid $bg-grey2;
                margin-bottom: 20px;
                .left {
                    position: absolute;
                    bottom: 70px;
                    left: 0;
                    font-size: 25px;
                    cursor: pointer;
                }
                .right {
                    position: absolute;
                    bottom: 70px;
                    right: 2px;
                    font-size: 25px;
                    cursor: pointer;
                }
                .bigImgBox {
                    width: 218px;
                    height: 218px;
                    z-index: 5;
                    overflow: hidden;
                    margin-bottom: 10px;
                    cursor: pointer;
                    .big {
                        width: 218px;
                        height: 218px;
                        &:hover {
                            transform: scale(1.1);
                            transition: 2s;
                        }
                    }
                }
                .little {
                    width: 205px;
                    height: 39px;
                    margin: 0 auto;
                    overflow: hidden;
                    margin-bottom: 20px;
                    li:first-child {
                        margin-left: 15px;
                    }
                    li {
                        float: left;
                        margin: 0 3px;
                        height: 35px;
                        border: 2px solid #aaa7a6;
                    }
                    .imgBorder {
                        border: 2px solid #B1544F;
                    }
                    img {
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                    }
                }
                p {
                    padding: 5px;
                    color: red;
                }
                .textHide {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #6B6B6B;
                    cursor: pointer;
                    padding: 10px 5px;
                    &:hover {
                        color: #5a2e2e;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    .name {
        width: 100%;
        margin-top: 40px;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid $bg-grey;
        color: $font-grey;
        font-size: $font-size13;
        span {
            font-weight: $font-weight;
            float: left;
        }
        a {
            float: right;
            text-decoration: none;
            color: $font-blue;
        }
    }
    
    .bedchose {
        width: 85%;
        margin-left: 7%;
        div {
            height: 40px;
            border-bottom: 1px solid $bg-grey2;
        }
        ul {
            display: flex;
            li {
                margin-left: 10px;
                color: $font-grey;
                line-height: 40px;
                font-size: $font-size13;
            }
            li:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }