body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: pink;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

ul,
li,
a,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.nav {
    // width: 89%;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
    text-decoration: none;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #615146e7 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #615146 !important;
    font-size: 13px !important;
}

.el-breadcrumb {
    font-size: 13px !important;
    line-height: 30px !important;
    height: 30px;
    line-height: 30px;
}

.el-input-number--small .el-input-number__decrease,
.el-input-number--small .el-input-number__increase {
    width: 32px;
    font-size: 13px;
    height: 28px !important;
    line-height: 28px;
}

.el-input-number__decrease>i,
.el-input-number__increase>i {
    line-height: 2.2;
}

// .dask {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255, 255, 255, .5);
//     z-index: 9999;
//     top: 0;
//     left: 0;
// }
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
    .sk-three-bounce {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -20px;
    }
}

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #333 !default;
.sk-three-bounce {
    $animationDuration: 1.4s;
    $delayRange: 0.32s;
    margin: $spinkit-spinner-margin;
    width: $spinkit-size * 2;
    text-align: center;
    margin-top: 40%;
    .sk-child {
        width: $spinkit-size / 2;
        height: $spinkit-size / 2;
        background-color: $spinkit-spinner-color;
        border-radius: 100%;
        display: inline-block;
        animation: sk-three-bounce $animationDuration ease-in-out 0s infinite both;
    }
    .sk-bounce1 {
        animation-delay: -$delayRange;
    }
    .sk-bounce2 {
        animation-delay: -$delayRange / 2;
    }
}

@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}