@import url(c:\Users\admin\Desktop\shopManage\shopManage\src\assets\css\nomralize.min.css);
body {
  overflow-x: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: pink;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

ul,
li,
a,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  width: 1010px;
  text-align: center;
  margin: 0 auto;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  text-decoration: none;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #615146 !important;
  font-size: 19px !important;
  font-weight: bold !important;
}

.el-breadcrumb {
  font-size: 13px !important;
  line-height: 1 !important;
}
