$bg-grey:#EEEEEE;
$font-grey:#6B6B6B;
* {
    margin: 0;
    padding: 0;
}

.myfooter {
    background-color: $bg-grey;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    div {
        color: $font-grey;
        font-size: 12px;
        word-spacing: 2px;
    }
    ul {
        display: inline-block;
        word-spacing: 4px;
        li {
            list-style: none;
            float: left;
            a {
                text-decoration: none;
                color: $font-grey;
            }
        }
    }
    .weixin {
        img {
            width: 90px;
        }
    }
}