* {
    margin: 0;
    padding: 0;
}

.tittle {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 35px;
    strong {
        margin-right: 10px;
    }
}

a {
    color: black;
}

a:hover {
    color: #548E87;
    text-decoration: underline;
}

table {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
    tr,
    th,
    td {
        border: 1px solid #dee2e6;
        padding: .75rem;
        text-align: center;
        vertical-align: top;
        img {
            width: 80px;
            height: 80px;
        }
        div {
            display: flex;
            flex-basis: content;
            button {
                width: 40px;
                height: 40px;
                background-color: white;
                border: 1px solid #6B6B6B;
            }
            input {
                height: 40px;
                width: 100px;
            }
        }
    }
    th {
        font-size: 16px;
        input {
            width: 20px;
        }
    }
    .mydelete {
        width: 60px;
        border-radius: 5px;
        height: 40px;
        border: none;
        background-color: #dc3545;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.down {
    width: 90%;
    margin-left: 5%;
    margin-top: 70px;
    height: 100px;
    background-color: #dee2e6;
    padding: 20px;
    text-align: left;
    p {
        margin-top: 10px;
    }
    h3 {
        font-size: 1.75rem;
        font-weight: 500;
    }
}

.mydown {
    margin-top: 20px;
    width: 90%;
    text-align: right;
    margin-left: 5%;
    div {
        width: 100%;
        margin-top: 20px;
    }
    button {
        width: 70px;
        border-radius: 5px;
        height: 40px;
        border: none;
        background-color: #dc3545;
        margin-left: 10px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    button:hover {
        background-color: #890D17;
    }
    .mybutton {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        margin-bottom: 100px;
    }
    .one {
        background-color: #717171;
    }
    .one:hover {
        background-color: #3E3E3E;
    }
}