.all {
    width: 80%;
    margin-left: 10%;
    height: auto;
    font-size: 14px;
}

.tittle {
    display: flex;
    margin-left: 200px;
    p {
        color: rgb(179, 169, 159);
        padding-top: 25px;
        margin-left: 100px;
        font-size: 18px;
        font-weight: 600;
        font-family: 微软雅黑;
        letter-spacing: 5px;
    }
}

.box {
    border: 1px solid rgb(179, 169, 159);
}

.hd {
    height: 40px;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgb(179, 169, 159);
    background-color: #f5f5f5;
}

.onep {
    background-color: #fcf8e3;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
}

.twop {
    background-color: #fcf8e3;
    text-align: left;
    padding-left: 10px;
    color: #c09853;
    margin-top: 20px;
    margin-bottom: 30px;
    p {
        height: 30px;
    }
}

.bottombox {
    margin-top: 10px;
    border-top: 1px solid #dddddd;
    background-color: #f5f5f5;
    text-align: left;
    padding: 20px;
    p {
        height: 40px;
    }
    .pp {
        color: red;
    }
}